@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро Пожаловать</h1>
    <p><img src="img/main.png" alt="Main Photo" width="50%", height="60%"/></p>
</div>
